<h1>Games List</h1>

<%= link_to 'New Game', new_game_path, class: 'btn btn-primary' %>

<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Created Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= link_to game.name, game_path(game), class: 'btn btn-info btn-sm' %></td>
        <td><%= game.email %></td>
        <td><%= game.created_at %></td>
        <td><%= game.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
